<div class="layout">
  <div class="sidebar" *ngIf="!isMobile">
    <div class="sidebar_header">
      <i class="fa-solid fa-bars"></i>
      <p>SaveStar</p>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="fa-solid fa-house-chimney"></i>
          Home</a
        >
      </li>
      <li>
        <a routerLink="/my-savings" routerLinkActive="active">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256-96a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"
            />
          </svg>
          My Savings</a
        >
      </li>
      <li>
        <a routerLink="/loans/cashback" routerLinkActive="active">
          <i class="fa-sharp fa-solid fa-coins"></i>
          Loans</a
        >
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa-solid fa-user"></i>
          Profile</a
        >
      </li>
    </ul>
  </div>
  <div *ngIf="isMobile">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
