<div class="balance_overview">
  <div>
    <p class="balance_greeting">Good Morning, {{ userDetails.firstName }}!</p>
    <i
      class="fa-solid fa-eye-slash"
      (click)="toggleBalance()"
      *ngIf="!showBalance"
    ></i>
    <i
      class="fa-regular fa-eye"
      (click)="toggleBalance()"
      *ngIf="showBalance"
    ></i>
  </div>
  <div>
    <p>Account Balance</p>
    <h1 *ngIf="showBalance">₦{{ userDetails.balance }}</h1>
    <h1 *ngIf="!showBalance">********</h1>
  </div>
  <p>{{ userDetails.accountNumber }}</p>
</div>
