.balance_overview {
  background-color: #1e40af;
  color: white;
  padding: 20px 15px;
  border-radius: 10px;
}
.balance_overview div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance_greeting {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .balance_greeting,
  h1 {
    font-size: 16px;
  }
}
