.user_products_header {
  color: #fff;
  padding: 20px;
  height: 200px;
  margin-top: 80px;
}
.user_products_header_details {
  border-top-left-radius: 20px;
  position: relative;
  padding: 20px;
  background-color: #003399;
  height: 70%;
  width: 85%;
}
.user_products_img {
  position: absolute;
  right: -46px;
  top: -33px;
  width: 250px;
  height: 250px;
  bottom: 0px;
  box-shadow: 0px 0px -8px lightgray;
  border-radius: 50%;
}

.user_products_history {
  position: relative;
  background-color: #003399;
  color: #fff;
  height: 57vh;
}
.user_products_tab {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px 0;
}
.user_products_tab li {
  text-align: center;
  flex: 1;
  cursor: pointer;
}
.user_products_history_list {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.user_products_history_list div {
  background-color: #fff;
  border-radius: 10px;
  color: #003399;
  width: 250px;
  height: 100px;
  padding: 20px;
}
.user_products_action_container {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
.user_products_create {
  background-color: #3ef48b;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
ul {
  list-style-type: none;
}

.tab_active {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 900px) {
  .user_products_header_details {
    margin-left: 12px;
  }
  .user_products_history {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
@media screen and (max-width: 768px) {
  .user_products_header_details {
    width: 80%;
  }
  .user_products_header_details img {
    right: -64px;
    top: -35px;
    width: 190px;
    height: 250px;
  }
  .user_products_history {
    margin-bottom: 39px;
  }
}
