.custom-input {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.custom-input input {
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px 10px;
  background-color: transparent;
}
