<div class="login_container">
  <div class="login_left"></div>
  <app-modal
    [backgroundColor]="'#3EF48B'"
    [color]="'#003399'"
    [showClose]="false"
  >
    <form [formGroup]="loginForm">
      <h1>Login to your account</h1>
      <div class="form_form">
        <div class="custom-input">
          <label>Email or Phone Number</label>
          <input type="text" placeholder="" formControlName="emailphone" />
        </div>
        <div class="custom-input">
          <label>Password</label>
          <input type="password" placeholder="" formControlName="password" />
        </div>
        <div class="form_remember_me">
          <input
            type="checkbox"
            formControlName="rememberMe"
            (click)="toggleRadio()"
          />
          Remember Me
        </div>
        <button class="login_btn" type="submit" (click)="login()">
          LOG IN
        </button>
      </div>
      <div>
        <p>
          Don't have an account?
          <a href="https://optimusbank.com/auth" target="_blank">Register</a>
        </p>
        <p>Forgot Password?</p>
      </div>
    </form>
  </app-modal>
  <div class="login_right"></div>
</div>
