a,
h3 {
  color: #fff;
}
.product_form_container {
  display: flex;
  position: relative;
  height: 100%;
  gap: 2rem;
  padding-bottom: 50px;
}
.product_form_container * {
  color: #fff;
}
.product_form_container > div {
  flex: 1;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
.custom-input {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 10px;
}

.custom-input input {
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px 10px;
  background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.product_btn {
  background-color: #3ef48b !important;
  color: #003399 !important;
  width: 160px;
}
.product_frequency {
  margin-top: 10px;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}

p {
  margin: 0;
}
.spinner {
  animation: spin 1s linear infinite;
}
.important_note,
.product_errorText {
  color: red;
}
.product_errorText {
  color: red;
  margin: 10px 0;
  font-weight: bold;
}
.product_calc_btn_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.product_calc_btn_container button {
  width: 50%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .product_form_container {
    gap: 0rem;
    flex-direction: column;
    padding-bottom: 50px;
  }
}
