.bar {
  background-color: #0e532b;
  height: 10px;
}
:host {
  display: block;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
  width: 84%;
  display: flex;
  position: relative;
}
.progress_value {
  position: absolute;
  top: -4px;
  right: -50px;
}
