<app-header [title]="'Overview'"></app-header>
<div class="dashboard_container">
  <div class="dashboard_left_container">
    <app-balance></app-balance>
    <h1 class="dashboard_heading">Savings & Loans</h1>
    <div class="dashboard_products">
      <div class="dashboard_products_s">
        <a
          class="dashboard_products_invisible_link"
          routerLink="/home/spend2save"
        ></a>
        <p class="home_spend_header">Spend2Save</p>
        <p>
          Worried you spend a lot and save nothing? Worry no more, as you can
          now save as much as you spend.
        </p>
        <a class="dashboard_products_seemore" routerLink="/home/spend2save"
          >See More</a
        >
      </div>
      <div class="dashboard_products_f">
        <p>FixSave</p>
        <p>
          Hey, want to save towards a goal? Choose ‘Fixed Savings’ now and save
          any amount of your choice daily, weekly, monthly and more.
        </p>
        <a class="dashboard_products_seemore2" routerLink="/home/fixsave"
          >See More</a
        >
      </div>
      <div class="dashboard_products_p">
        <p>PercentWise</p>
        <p>
          Build up your savings by allocating a percentage of your earnings
          daily, weekly, or monthly. 
        </p>
        <a class="dashboard_products_seemore" routerLink="/home/percentwise"
          >See More</a
        >
      </div>
      <div class="dashboard_products_c">
        <p>CashBack Loans</p>
        <p>
          Say Hello to Cash Back and Goodbye to Financial Worries - Get a Cash
          Back Loan!
        </p>
        <a class="dashboard_products_seemore" routerLink="/loans/cashback"
          >See More</a
        >
      </div>
    </div>
  </div>
  <div class="dashboard_right_container">
    <app-schedule-savings></app-schedule-savings>
  </div>
</div>
