<app-header [title]="'My Savings'"></app-header>
<div class="my_savings_container">
  <div class="total_savings">
    <p>Total Savings</p>
    <p class="total_savings_actual">
      {{ totalSavings }}
    </p>
  </div>
  <div class="user_target_container">
    <div
      *ngFor="let item of userTargets"
      class="user_target_box"
      (click)="openModal(item.id)"
    >
      <p class="user_target_item_name">{{ item.targetName }}</p>
      <p>₦{{ item.balance }}</p>

      <div class="user_progress">
        <div
          class="user_progress_bar"
          *ngIf="!isValueNaN(calculateProgress(item))"
        >
          <app-bar [value]="calculateProgress(item)"></app-bar>
        </div>
        <div class="user_target_category">{{ item.category }}</div>
      </div>
    </div>
    <div class="user_products_not_available" *ngIf="userTargets.length === 0">
      <img src="../../../assets/images/not_available.svg" alt="Not available" />
      <p>No saving plans yet.</p>
    </div>

    <app-modal
      *ngIf="isModalVisible"
      (onClose)="closeModal()"
      [backgroundColor]="'#fff'"
      [color]="'#000'"
    >
      <div class="user_active_summary_header">
        <div>
          <p>
            {{ activeSavings.targetName }}
            <span class="user_target_category_active">
              {{ activeSavings.category }}
            </span>
          </p>
          <p class="user_active_amount">₦{{ activeSavings.balance }}</p>
        </div>
      </div>
      <div class="user_active_summary_header">
        <div>
          <p>Interest Earned</p>
          <p>₦{{ 0.1 * activeSavings.balance }}</p>
        </div>
        <div>
          <p>Due Date</p>
          <p>{{ activeSavings.endDate | date : "yyyy-MM-dd" }}</p>
        </div>
      </div>
      <div class="user_active_recent">
        <p>Recent Activities</p>
        <div
          *ngFor="let item of tableData"
          class="user_category_history_listitem"
        >
          {{ item.description }}
        </div>
        <div
          *ngFor="let item of tableData"
          class="user_category_history_listitem"
        >
          {{ item.description }}
        </div>
        <div
          *ngFor="let item of tableData"
          class="user_category_history_listitem"
        >
          {{ item.description }}
        </div>
      </div>
    </app-modal>
  </div>
  <div class="user_history_table">
    <h2>Recent History</h2>
    <app-table [columns]="tableColumns" [data]="tableData"></app-table>
    <button class="user_history_viewmore">View more activities</button>
  </div>
</div>
