<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">{{ item[column.field] }}</td>
    </tr>
  </tbody>
</table>
<ul class="mobile_list">
  <li *ngFor="let item of data" class="mobile_list_item">
    <div>
      <p class="list_description">
        {{ item.description }}
      </p>
      <p>{{ datePipe.transform(item.date, "yyyy-MM-dd HH:mm:ss") }}</p>
    </div>
    <p class="list_amount" *ngIf="item.amount">₦{{ item.amount }}</p>
  </li>
</ul>
