<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index">
      <td *ngFor="let column of columns">
        <ng-container *ngIf="column.field === 'id'">
          {{ i + 1 }}
        </ng-container>
        <ng-container *ngIf="column.field === 'date'">
          {{ item[column.field] | date : "MMM. d, yyyy, h:mm a" }}
        </ng-container>
        <ng-container *ngIf="column.field !== 'date'">
          {{ item[column.field] }}
        </ng-container>
        <ng-container *ngIf="column.field === 'status'">
          successful
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<ul class="mobile_list">
  <li *ngFor="let item of data" class="mobile_list_item">
    <div>
      <p class="list_description">
        {{ item.description }}
      </p>
      <p>{{ datePipe.transform(item.date, "yyyy-MM-dd HH:mm:ss") }}</p>
    </div>
    <p class="list_amount" *ngIf="item.amount">₦{{ item.amount }}</p>
  </li>
</ul>
